
$white-normal: #fff;

$orange-light: #FF7A00;
$orange-dark: #E97000;

$dark-1: #181818;
$dark-2: #141414;

$extra-paulo: #D9C51D;
$extra-void: #033876;
$extra-equilibrium: #4E964E;
$extra-lockeey: #475462;
$extra-astral: #086EE7;
