* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/*Importando o arquivo com cores*/
* {
  padding: 0;
  margin: 0;
}

.logo-container {
  max-width: 50%;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bolder;
  letter-spacing: 1.3px;
  font-family: "Sora", sans-serif;
  font-size: 0.8em;
}

a:hover {
  color: #FF7A00;
}

#header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 1rem;
  margin: auto;
  background-color: #141414;
  color: #fff;
  font-family: "Sora", sans-serif;
}
#header span {
  color: #FF7A00;
}

#header > h1:hover {
  opacity: 0.8;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0px;
    background-color: #181818;
    visibility: hidden;
    overflow-y: hidden;
    height: 0px;
    transition: 0.6s;
    z-index: 1000;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #fff;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburguer {
    display: block;
    border-top: 2px solid #fff; /*Barrinha de cima*/
    width: 20px;
  }
  #hamburguer::after, #hamburguer::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
/*Para tablets*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  a {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 1024px) {
  #header > h1 {
    margin-left: 150px;
    font-size: 2em;
  }
  a:hover {
    color: #fff;
  }
  .logo-container {
    margin-left: 150px;
  }
  #nav {
    margin-right: 150px;
  }
  #nav li {
    margin-left: 20px;
  }
  #nav a {
    font-size: 1em;
  }
  nav a:hover {
    opacity: unset;
  }
  li {
    position: relative;
  }
  li > a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #FF7A00;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s ease-in-out;
  }
  nav a:hover::after {
    width: 100%;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
  background-color: #141414;
}

.profile {
  background-color: #141414;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  font-family: "Sora", sans-serif;
}
.profile .icon-img-desktop {
  max-width: 100%;
}
.profile .profile-text {
  color: #fff;
}
.profile .profile-text h1 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 3rem;
  letter-spacing: 1.5px;
  color: #FF7A00;
}
.profile .profile-text p:not(:first-child) {
  font-size: 1.7rem;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}
.profile .container-btn {
  display: flex;
  gap: 20px;
}
.profile .container-btn a {
  gap: 5px;
}
.profile .btn-curriculo {
  border: 2px solid #FE912C;
  color: #FE912C;
  padding: 14px;
  border-radius: 12px;
  font-family: "Sora", sans-serif;
}
.profile .btn-curriculo:hover {
  background-color: #E97000;
  border: 2px solid #E97000;
  color: #fff;
  padding: 14px;
  border-radius: 12px;
  font-family: "Sora", sans-serif;
}
.profile .btn-certificados {
  border: 2px solid #fff;
  color: #fff;
  padding: 14px;
  border-radius: 12px;
  font-family: "Sora", sans-serif;
}
.profile .btn-certificados:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #141414;
  padding: 14px;
  border-radius: 12px;
  font-family: "Sora", sans-serif;
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Sora", sans-serif;
}
.about .container-about {
  background-color: #181818;
  border-radius: 15px;
  height: 60vh;
  width: 65vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .hero-about-text {
  max-width: 40%;
}
.about .hero-about-icons {
  margin-top: 20px;
  display: flex;
  gap: 24px;
  font-size: 2rem;
}

.services {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-family: "Sora", sans-serif;
}
.services .container-services {
  display: flex;
  gap: 50px;
}
.services h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.services .icon-services {
  max-width: 15%;
}
.services #icon-phone {
  max-width: 10%;
}
.services .service {
  background-color: #141414;
  border-left: 6px solid #FE912C;
  color: #fff;
  max-width: 550px;
  height: 300px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.services .service:hover {
  transform: scale(1.1);
}

.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-family: "Sora", sans-serif;
}
.projects h1 {
  color: #fff;
}
.projects .container-projects {
  display: flex;
  gap: 80px;
}
.projects .banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects #banner-void {
  background-color: white;
  height: 200px;
  max-width: 500px;
}
.projects #banner-void img {
  max-width: 50%;
  display: block;
}
.projects #banner-paulo {
  background-color: #181818;
  height: 200px;
  max-width: 500px;
}
.projects #banner-paulo span {
  color: #FAA526;
}
.projects .project-text {
  margin-top: 20px;
  background-color: #181818;
  max-width: 550px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: #fff;
}
.projects #project-paulo {
  border-left: 6px solid #FAA526;
}
.projects #project-paulo span {
  color: #FAA526;
}
.projects .span-text {
  color: #FAA526;
}
.projects #project-void {
  border-left: 6px solid #fff;
}
.projects .btn-visualizar {
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
  padding: 14px;
  border-radius: 12px;
  font-family: "Sora", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.projects .btn-visualizar:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #141414;
  padding: 14px;
  border-radius: 12px;
  font-family: "Sora", sans-serif;
}

.my-techs {
  height: 100vh;
  color: #fff;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sora", sans-serif;
}
.my-techs .container-techs {
  background-color: #141414;
  border-radius: 15px;
  width: 60vw;
  height: 50vh;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.my-techs .container-text {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-techs .container-hover {
  height: 200px;
}
.my-techs .container-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.my-techs .first-group, .my-techs .second-group, .my-techs .third-group {
  display: flex;
  gap: 10px;
}
.my-techs h1 {
  margin-top: 40px;
  text-align: center;
}
.my-techs img {
  max-width: 30%;
  cursor: pointer;
}

footer {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-family: "Sora", sans-serif;
}
footer .strong {
  color: #E97000;
}
footer .name {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
  }
  .profile .icon-img-desktop {
    display: none;
  }
  .profile .profile-text h1 {
    font-size: 2.5rem;
  }
  .profile .profile-text p:not(:first-child) {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
  }
  .about {
    height: 100vh;
    display: flex;
  }
  .about .container-about {
    height: 60vh;
    width: 90%;
    padding: 15px;
  }
  .about .hero-about-text {
    max-width: 100%;
  }
  .about img {
    display: none;
  }
  .services {
    height: 100%;
    padding-bottom: 100px;
  }
  .services h1 {
    margin-top: 100px;
  }
  .services .container-services {
    flex-direction: column;
    width: 90%;
  }
  .services .service:hover {
    transform: none;
  }
  .projects {
    height: 100%;
    padding-bottom: 100px;
  }
  .projects .title {
    margin-top: 100px;
  }
  .projects .container-projects {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .projects .banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects #banner-void {
    background-color: white;
    height: 200px;
    max-width: 100%;
  }
  .projects #banner-void img {
    max-width: 50%;
    display: block;
  }
  .projects #banner-paulo {
    background-color: #181818;
    height: 200px;
    max-width: 100%;
  }
  .projects #banner-paulo span {
    color: #FAA526;
  }
  .projects .project-text {
    margin-top: 20px;
    background-color: #181818;
    height: 250px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;
  }
  .projects #project-paulo {
    border-left: 6px solid #FAA526;
  }
  .projects #project-paulo span {
    color: #FAA526;
  }
  .projects .span-text {
    color: #FAA526;
  }
  .projects #project-void {
    border-left: 6px solid #fff;
  }
  .projects .btn-visualizar {
    border: 2px solid #fff;
    color: #fff;
    padding: 14px;
    border-radius: 12px;
    font-family: "Sora", sans-serif;
    display: flex;
    gap: 10px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .projects .btn-visualizar:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #141414;
    padding: 14px;
    border-radius: 12px;
    font-family: "Sora", sans-serif;
  }
  .my-techs {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my-techs .container-techs {
    background-color: #141414;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 15px;
    width: 90vw;
    height: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .my-techs .container-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .my-techs .container-hover {
    display: none;
    height: 200px;
  }
  .my-techs .container-icons {
    width: 100%;
    gap: 10px;
  }
  .my-techs .first-group, .my-techs .second-group, .my-techs .third-group {
    display: flex;
    gap: 10px;
  }
  .my-techs h1 {
    margin-top: 0px;
    text-align: center;
  }
  .my-techs img {
    display: block;
    margin: auto;
  }
  .my-techs .first-group {
    background-color: green;
  }
  .my-techs .second-group {
    background-color: green;
  }
  .my-techs .third-group {
    background-color: green;
  }
  footer {
    flex-direction: column;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #E97000;
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #141414;
}

button {
  cursor: pointer;
  font-family: "Sora", sans-serif;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.container-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.container-btn a img {
  margin-right: 5px;
  width: 2.5em;
  height: 2em;
}

.container-btn a span {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */